/* App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .nav-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #45a049;
  }
  